@model BlowOut.Models.Rental

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div>
    <h4>Congrats @ViewBag.Name! You just rented the following instrument:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Picture)" alt="Alternate Text" />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Rentals")
</p>
